<h1 id="page_title">About Me</h1>
<div class="skinny_wrapper wrapper_padding">
	<p>I'm a junior fullstack web developer based in Denver, Colorado. I've been building websites since AOL was a household name and dial-up modems were obligatory.</p>
	<p>Since then, web applications have evolved, and so have my skills in building them.</p>
	<ul>
		<li>Responsive Design: Building sites that gracefully degrade for the mobile web.</li>
		<li>Object Oriented: I know object-oriented programming and how to work the MVC.</li>
		<li>Up to Date: Staying current on the newest tech and minding the fads.</li>
		<li>Enthusiastic: I'm passionate about programming.</li>
	</ul>
	<%= link_to 'Back', :back %>
</div>