<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a junior fullstack web developer based in Denver, Colorado. I've been building websites since AOL was a household name and dial-up modems were obligatory.</p>
		<p>Since then, web applications have evolved, and so have my skills in building them.</p>
		<a class="read-more-show hide" href="#">Read more &raquo;</a> <span class="read-more-content">
		<ul>
			<li>Responsive Design: Building sites that gracefully degrade for the mobile web.</li>
			<li>Object Oriented: I know object-oriented programming and how to work the MVC.</li>
			<li>Up to Date: Staying current on the newest tech and minding the fads.</li>
			<li>Enthusiastic: I'm passionate about programming.</li>
		</ul>
		<a class="read-more-hide hide" href="#">&laquo; Read less</a></span></p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Blog</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%b %d, %Y") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Portfolio</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><%= link_to project.title, project %></h3>
			<p class="date"><%= project.created_at.strftime("%b %d, %Y") %></p>
		<% end %>
	</div>
</div>