<header id="main_navigation" class="clearfix">
	<%= link_to "R. N. Case", root_path, class: "name" %>
	<nav>
		<%= link_to "Blog", posts_path %>
		<%= link_to "Projects", projects_path %>
		<a href="#">Contact</a>
	</nav>
</header>
