<header id="main_navigation" class="clearfix">
	<a href="#" class="name">R. N. Case</a>
	<nav>
		<%= link_to "Blog", posts_path %>
		<a href="#">Projects</a>
		<a href="#">Contact</a>
	</nav>
</header>
